.containerCardDetail {
    border: 1px solid transparent;
    background-color: #fff;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 11px 46.44px 7.56px rgba(0, 0, 0, 0.44);
    top: 3rem;
    position: relative;
  }
  @media (max-width: 1000px) {
    .containerCardDetail {
      flex-direction: column;
    }
  }
  @media (max-width: 780px) {
    .containerCardDetail {
      width: 300px;
    }
  }
  .containerCardDetail .card_left {
    flex: 1 1 50%;
    padding: 60px;
    position: relative;
  }
  .containerCardDetail .card_left .fa {
    font-size: 1.5rem;
    color: #e8e8e8;
    position: absolute;
    top: 25px;
  }
  .containerCardDetail .card_left .fa:hover {
    color: #f37d3a;
  }
  .containerCardDetail .card_left .left {
    left: 20px;
  }
  .containerCardDetail .card_left .right {
    right: 20px;
  }
  .containerCardDetail .card_left img {
    max-width: 100%;
  }
  @media (max-width: 1000px) {
    .containerCardDetail .card_left img {
      width: 90%;
      max-width: 200px;
      display: block;
      margin: 0 auto;
    }
  }
  .containerCardDetail .card_right {
    flex: 1 1 50%;
    padding: 40px;
    background: #f7f5f5;
  }
  .containerCardDetail .card_right span {
    text-transform: uppercase;
    color: #f37d3a;
    letter-spacing: 1.2px;
    font-size: .7rem;
  }
  .containerCardDetail .card_right h3 {
    font-weight: 500;
    color: #262626;
    font-size: 1.25rem;
  }
  .containerCardDetail .card_right p {
    font-size: .85rem;
    color: #4f4f4f;
    font-weight: 300;
  }
  .containerCardDetail .card_right .colours {
    display: flex;
  }
  .containerCardDetail .card_right .colours .colour {
    border-radius: 20px;
    height: 12px;
    width: 12px;
    background: #fff;
    margin: 0 8px;
    position: relative;
  }
  .containerCardDetail .card_right .colours .colour:nth-child(1) {
    margin-left: 0;
  }
  .containerCardDetail .card_right .colours .colour:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 30px;
  }
  .containerCardDetail .card_right .colours .orange:after {
    background: #f37d3a;
  }
  .containerCardDetail .card_right .colours .green:after {
    background: #3af361;
  }
  .containerCardDetail .card_right .colours .gray:after {
    background: #4f4f4f;
  }
  .containerCardDetail .card_right .colours .colour:hover {
    opacity: .3;
  }
  .containerCardDetail .card_right .colours .active.colour:after {
    height: 6px;
    width: 6px;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .containerCardDetail .card_right .card_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
  }
  .containerCardDetail .card_right .card_footer .price {
    color: rgba(38, 38, 38, 0.59);
    letter-spacing: 1px;
    font-size: 1.25rem;
  }
  .containerCardDetail .card_right .card_footer .btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background: #000000;
    font-size: .7rem;
    padding: 0px 20px;
    border-radius: 7px;
    letter-spacing: 1.2px;
    margin-left: 15px;
  }
  
  .containerCardDetail .card_right .card_footer .btn:hover {
    color: #f37d3a;
    background: #fff;
  }