#elements-header {
    width: 100%;
    background: #131921;
  }
  
  .m-elements-header {
    margin: 0% 0 0% 5%;
    width: 5%;
  }
  .header {
    background-color: #fff 100%;
    width: 100%;
    z-index: 3;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .header li input {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: 8%;
    width: 13.5rem;
  }
  ul.menu li {
    margin-right: 3rem;
  }
  
  .header li a:hover, .header .menu-btn:hover {
    border: 1px solid white;
    border-radius: 2px;
    color: #fff;
  }
  
  ul.nav.nav-list li {
    margin: 2%;
    padding: 1%;
    cursor: pointer;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
  }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 4%;
    position: relative;
    user-select: none;
    color: black;
  }
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 265px;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  @media (min-width: 48em) {
    .header li {
        float: left;
   }
    .header li a {
        padding: 20px 30px;
   }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        margin-right: 6%;
   }
    .header .menu-icon {
        display: none;
   }
  }