@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css);
@import url("https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css");
.signIn .login {
  width: 420px;
  background: #ffffff;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.signIn .login:before {
  content: "";
  position: absolute;
  background: transparent;
  bottom: 45px;
  right: 40px;
  width: 55px;
  height: 55px;
  z-index: 5;
  -webkit-transition: all .6s ease-in-out, background 0s ease;
  transition: all .6s ease-in-out, background 0s ease;
}

.signIn .login .form {
  display: block;
  position: relative;
}

.signIn .login .form h2 {
  background: #f5f5fa;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 1%;
  font-weight: 200;
  color: #131921;
  font-size: 19px;
  text-align: center;
}

.signIn .login .form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  margin: 0 40px 30px 40px;
  border-bottom: 1px solid #9596A2;
}

.signIn .login .form .form-field label {
  width: 10px;
  padding: 0 15px 0 0;
  color: #9596A2;
}

.signIn .login .form .form-field input {
  width: 100%;
  background: transparent;
  color: #9596A2;
  padding: 15px;
  border: 0;
  margin: 0;
}

.signIn .login .form .form-field input + svg {
  width: 35px;
  width: 35px;
  fill: none;
  stroke: #131921;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.signIn .login .form .form-field input:valid + svg {
  stroke-dashoffset: 0;
}

.signIn .login .form .form-field input:focus {
  outline: none;
}

.signIn .login .form .form-field *::-webkit-input-placeholder {
  color: #9596A2;
}

.signIn .login .form .form-field *:-ms-input-placeholder {
  color: #9596A2;
}

.signIn .login .form .form-field *::-ms-input-placeholder {
  color: #9596A2;
}

.signIn .login .form .form-field *::placeholder {
  color: #9596A2;
}

.signIn .login .form .button {
  width: 100%;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px 45px 40px;
  margin: 0;
  border: 0;
  background: transparent;
  outline: none;
}

.signIn .login .form .button .arrow-wrapper {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  position: relative;
  margin: 0;
  width: 100%;
  height: 30px;
  right: 0;
  float: right;
  background: #ffa749;
  -webkit-box-shadow: 0 3px 20px rgba(19, 25, 33, 0.4);
          box-shadow: 0 3px 20px rgba(19, 25, 33, 0.4);
  border-radius: 5px;
}

.signIn .login .form .button .arrow-wrapper .arrow {
  position: absolute;
  top: 50%;
  margin: auto;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  right: 35px;
  width: 15px;
  height: 2px;
  background: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signIn .login .form .button .arrow-wrapper .arrow:before {
  position: absolute;
  content: '';
  top: -4px;
  right: 0;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.signIn .login .form .button .button-text {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.signIn .login .finished {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 7;
}

.signIn .login .finished svg {
  width: 100px;
  width: 100px;
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: -100;
  -webkit-transition: all .3s ease-in-out .5s;
  transition: all .3s ease-in-out .5s;
}

.signIn .login.loading .form .button .arrow-wrapper {
  width: 55px;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out .5s;
          animation: sk-rotateplane 1.2s infinite ease-in-out .5s;
}

.signIn .login.loading .form .button .arrow-wrapper .arrow {
  background: #fff;
  -webkit-transform: translate(15px, 0);
          transform: translate(15px, 0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out .5s;
  transition: opacity 0.3s ease-in-out .5s;
}

.signIn .login.loading .form .button .button-text {
  color: #9596A2;
}

.signIn .login.active:before {
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ffa749), to(#131921));
  background: linear-gradient(90deg, #ffa749, #131921);
  border-radius: 12px;
  height: 100%;
  width: 100%;
}

.signIn .login.active .form .button .arrow-wrapper {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.signIn .login.active .finished svg {
  stroke-dashoffset: 0;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
            transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
            transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.shadow-1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.containerCardDetail {
  border: 1px solid transparent;
  background-color: #fff;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 11px 46.44px 7.56px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 11px 46.44px 7.56px rgba(0, 0, 0, 0.44);
  top: 3rem;
  position: relative;
}

@media (max-width: 1000px) {
  .containerCardDetail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 780px) {
  .containerCardDetail {
    width: 300px;
  }
}

.containerCardDetail .card_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 60px;
  position: relative;
}

.containerCardDetail .card_left .fa {
  font-size: 1.5rem;
  color: #e8e8e8;
  position: absolute;
  top: 25px;
}

.containerCardDetail .card_left .fa:hover {
  color: #f37d3a;
}

.containerCardDetail .card_left .left {
  left: 20px;
}

.containerCardDetail .card_left .right {
  right: 20px;
}

.containerCardDetail .card_left img {
  max-width: 100%;
}

@media (max-width: 1000px) {
  .containerCardDetail .card_left img {
    width: 90%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
  }
}

.containerCardDetail .card_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 40px;
  background: #f7f5f5;
}

.containerCardDetail .card_right span {
  text-transform: uppercase;
  color: #f37d3a;
  letter-spacing: 1.2px;
  font-size: .7rem;
}

.containerCardDetail .card_right h3 {
  font-weight: 500;
  color: #262626;
  font-size: 1.25rem;
}

.containerCardDetail .card_right p {
  font-size: .85rem;
  color: #4f4f4f;
  font-weight: 300;
}

.containerCardDetail .card_right .colours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerCardDetail .card_right .colours .colour {
  border-radius: 20px;
  height: 12px;
  width: 12px;
  background: #fff;
  margin: 0 8px;
  position: relative;
}

.containerCardDetail .card_right .colours .colour:nth-child(1) {
  margin-left: 0;
}

.containerCardDetail .card_right .colours .colour:after {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 30px;
}

.containerCardDetail .card_right .colours .orange:after {
  background: #f37d3a;
}

.containerCardDetail .card_right .colours .green:after {
  background: #3af361;
}

.containerCardDetail .card_right .colours .gray:after {
  background: #4f4f4f;
}

.containerCardDetail .card_right .colours .colour:hover {
  opacity: .3;
}

.containerCardDetail .card_right .colours .active.colour:after {
  height: 6px;
  width: 6px;
  position: absolute;
  top: 3px;
  left: 3px;
}

.containerCardDetail .card_right .card_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.containerCardDetail .card_right .card_footer .price {
  color: rgba(38, 38, 38, 0.59);
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.containerCardDetail .card_right .card_footer .btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  background: #000000;
  font-size: .7rem;
  padding: 0px 20px;
  border-radius: 7px;
  letter-spacing: 1.2px;
  margin-left: 15px;
}

.containerCardDetail .card_right .card_footer .btn:hover {
  color: #f37d3a;
  background: #fff;
}

.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrap.active {
  left: 14em;
}

a.side-menu-link {
  float: left;
  display: block;
  padding: 1em;
}

@media screen and (max-width: 48.063em) {
  .js .oc {
    width: auto;
    position: absolute;
    top: 0;
    left: -14em;
  }
}

@media screen and (min-width: 48.25em) {
  a.side-menu-link {
    display: none;
  }
  .wrap.active {
    left: 0;
  }
}

.wrapper {
  width: 400px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
}

.wrapper:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}

.wrapper .containerCard {
  width: 100%;
  height: 100%;
}

.wrapper .containerCard .top {
  height: 80%;
  width: 100%;
  background-size: 55%;
}

.wrapper .containerCard .bottom {
  width: 200%;
  height: 20%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.wrapper .containerCard .bottom.clicked {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper .containerCard .bottom h1 {
  margin: 0;
  padding: 0;
}

.wrapper .containerCard .bottom p {
  margin: 0;
  padding: 0;
}

.wrapper .containerCard .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}

.wrapper .containerCard .bottom .left .details {
  padding: 2%;
  float: left;
  width: calc(70% - 40px);
}

.wrapper .containerCard .details h1, p {
  font-size: 1.4rem;
}

.wrapper .containerCard .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}

.wrapper .containerCard .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  cursor: pointer;
}

.wrapper .containerCard .bottom .left .buy:hover {
  background: #A6CDDE;
}

.wrapper .containerCard .bottom .left .buy:hover i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  color: #00394B;
}

.wrapper .containerCard .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}

.wrapper .containerCard .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}

.wrapper .containerCard .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}

.wrapper .containerCard .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}

.wrapper .containerCard .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  -webkit-transition: background 0.5s, -webkit-transform 0.5s;
  transition: background 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, background 0.5s;
  transition: transform 0.5s, background 0.5s, -webkit-transform 0.5s;
}

.wrapper .containerCard .bottom .right .remove:hover {
  background: #9B2847;
}

.wrapper .containerCard .bottom .right .remove:hover i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.wrapper .containerCard .bottom .right .remove i {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}

.wrapper .containerCard .bottom .right:hover .remove, .wrapper .containerCard .bottom .right:hover .done {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.wrapper .inside {
  z-index: 9;
  background: #92879B;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  -webkit-transition: all 0.5s, border-radius 2s, top 1s;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}

.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}

.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}

.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.wrapper .inside:hover .contents {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}

.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}

.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}

.wrapper .inside .contents p {
  font-size: 13px;
}

#elements-header {
  width: 100%;
  background: #131921;
}

.m-elements-header {
  margin: 0% 0 0% 5%;
  width: 5%;
}

.header {
  background-color: #fff 100%;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0;
  line-height: 28px;
}

.header li input {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 8%;
  width: 13.5rem;
}

ul.menu li {
  margin-right: 3rem;
}

.header li a:hover, .header .menu-btn:hover {
  border: 1px solid white;
  border-radius: 2px;
  color: #fff;
}

ul.nav.nav-list li {
  margin: 2%;
  padding: 1%;
  cursor: pointer;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 4%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: black;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 265px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 6%;
  }
  .header .menu-icon {
    display: none;
  }
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
}

.heading h1 {
  font-family: "Droid Serif", serif;
  font-size: 2em;
  float: left;
}

.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.heading a.continue:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f69679;
}

.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: .75em;
}

.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}

.tableHead li.prodHeader {
  text-align: left;
}

.cart {
  padding: 1em 0;
}

.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}

.cart .items.even {
  background: #fafafa;
}

.cart .items .infoWrap {
  display: table;
  width: 100%;
}

.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}

.cart .items .cartSection .itemNumber {
  font-size: .75em;
  color: #777;
  margin-bottom: .5em;
}

.cart .items .cartSection h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.cart .items .cartSection p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: "Montserrat", sans-serif;
}

.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}

.cart .items .cartSection p.stockStatus {
  color: #82CA9C;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}

.cart .items .cartSection p.stockStatus.out {
  color: #F69679;
}

.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}

.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}

.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}

.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}

.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.special {
  display: block;
  font-family: "Montserrat", sans-serif;
}

.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: .5em;
  border-top: 1px solid #dadada;
}

.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}

a.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.remove:hover {
  background: #f30;
}

.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}

.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: .5em;
  letter-spacing: -.025em;
}

.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: .5em;
  float: left;
  border: 1px solid #dadada;
}

.promoCode input:active, .promoCode input:focus {
  outline: 0;
}

.promoCode a.btn {
  float: left;
  width: 15%;
  padding: .75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #82ca9c;
}

.promoCode a.btn:hover {
  border: 1px solid #f69679;
  background: #f69679;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #ffa749;
  font-weight: bold;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.btn:hover, .btn:focus, .btn:active {
  background: #f69679;
}

.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}

.promoCode .btn {
  font-size: .85em;
  paddding: .5em 2em;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}

.subtotal .totalRow {
  padding: .5em;
  text-align: right;
}

.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}

.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}

.subtotal .totalRow .label {
  font-family: "Montserrat", sans-serif;
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}

.subtotal .totalRow .value {
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: .5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: .25em;
    font-size: .75em;
  }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }
  .promoCode, .subtotal {
    width: 100%;
  }
  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */