.App {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
}

.Header {
    grid-area: header;
}

.Main {
    grid-area: main;

}

.homeScreen{
    display: grid;
    grid-template-areas: "aside container";
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr;
    margin: 2%;
}

.Footer {
    grid-area: footer;
}